$grey-color-light-1: #f7f7f7;
$grey-color-dark-1: #a2a2a2;
$black-color: rgb(0, 0, 0);
$blue-color-1: rgb(0, 125, 255);
$green-color-1: rgb(0, 128, 0);
$red-color-1: rgb(255,  0, 0);
$red-color-2: rgb(222,  3, 3);

$budget-box-shadow-opacity: 0.7;
$budget-detail-bg-color-opacity: 0.5;
$budget-amount-bg-color-opacity: 0.7;
